name : Time Service CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  AZURE_WEBAPP_NAME: "inventory-api"
  AZURE_WEBAPP_PACKAGE_PATH: "." # Usually left as '.' unless you zip manually
  DOTNET_VERSION: "9.0.x" # Always specify .0.x for reliability
  SOLUTION_PATH: "Inventory.sln" # Your solution is at root
  API_PROJECT_PATH: "InventoryBack/InventoryBack.csproj" # Must point directly to the .csproj
  PUBLISH_DIR: "InventoryBack/bin/Release/net9.0/publish" # Matches what dotnet publish generates

jobs:
  build-and-test: 
    name: Build and test
    runs-on: ubuntu-latest 

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: dotnet restore ${{ env.SOLUTION_PATH }}

      - name: Build
        run: dotnet build ${{ env.SOLUTION_PATH }} --configuration Release --no-restore

      - name: Test
        run: dotnet test ${{ env.SOLUTION_PATH }} --configuration Release --no-restore --no-build --verbosity normal

      - name: Publish Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: webapp
          path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
    
  deploy:
    - name: Deploy to Azure Web App
    - runs-on: ubuntu-latest
    - needs: [build-and-test]

    steps:
      - name: Download Artifact From Build Job
        uses: actions/download-artifact@v4
        with:
          name: webapp
          path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
      
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}